@font-face {
  font-family: 'Genericons';
  src: url('../assets/fonts/genericons-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'behance';
  src: url('../assets/fonts/behance.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
